body { background: #c72e45; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-cart-0 { color: #290d61; font-size: 13px; margin-bottom: 5px; }
.block-email-1 { color: #cf7a77; font-size: 13px; margin-bottom: 5px; }
.block-search-2 { color: #cb9545; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #266a17; font-size: 14px; margin-bottom: 5px; }
.block-cart-4 { color: #35d6a4; font-size: 20px; margin-bottom: 5px; }
.block-helper-5 { color: #71627d; font-size: 21px; margin-bottom: 5px; }